{% extends "bootstrap/base.html" %}

{% block title %}Flasky{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}

{% block navbar %}
    <div class='navbar navbar-inverse' role='navigation'>
        <div class='container'>
            <div class='navbar-header'>
                <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                    <span class='sr-only'>Toogle navigation</span>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                </button>
                <a class='navbar-brand' href='/'>Avaliação contínua: <b>Aula 040</b></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/user/Bruno Otero/PT3025535/IFSP">Identificação</a></li>
                    <li><a href="/contextorequisicao/Bruno Otero">Contexto da requisição</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class='container'>
        {% block page_content %}
        {% endblock %}
    </div>
{% endblock %}