<html>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <title>Home</title>
    </head>
    <body>
        <h1>Avaliação contínua: Aula 030</h1>
        <nav>
            <ul>
                <li><a href='/'>Home</a></li>
                <li><a href='/user/Bruno%20Otero/PT3025535/IFSP'>Identificação</a></li>
                <li><a href='/contextorequisicao'>Contexto da requisição</a></li>
            </ul>
        </nav>
    </body>
</html>